@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: 99, 95, 199;
  --purple-hover: #a8a4ff;
  --black: 0, 1, 18;
  --very-dark-gray: #20212c;
  --dark-gray: #2b2c37;
  --dark-lines: #3e3f4e;
  --medium-gray: 130, 143, 163;
  --light-lines: #e4ebfa;
  --light-gray: #f4f7fd;
  --white: #ffffff;
  --red: #ea5555;
  --red-hover: #ff9898;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
